# TASK: Merge two VCF files

## Read VCF files

In [1]:
import io
import os
import pandas as pd


def read_vcf(path):
    with open(path, 'r') as f:
        lines = [l for l in f if not l.startswith('##')]
    return pd.read_csv(
        io.StringIO(''.join(lines)),
        dtype={'#CHROM': str, 'POS': int, 'ID': str, 'REF': str, 'ALT': str,
               'QUAL': str, 'FILTER': str, 'INFO': str},
        sep='\t'
    ).rename(columns={'#CHROM': 'CHROM'})

In [2]:
freebayes_vcf = read_vcf('freebayes_raw.vcf')
freebayes_vcf.head()
#len(freebayes_vcf.index)

,CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,unknown
0,chr2,29415792,.,G,A,1101.66,.,AB=0.494737;ABP=3.03316;AC=1;AF=0.5;AN=2;AO=47...,GT:DP:DPR:RO:QR:AO:QA:GL,"0/1:95:95,47:48:1719:47:1807:-134.266,0,-126.33"
1,chr2,29416037,.,C,G,15878.5,.,AB=0.45884;ABP=23.567;AC=1;AF=0.5;AN=2;AO=641;...,GT:DP:DPR:RO:QR:AO:QA:GL,"0/1:1397:1397,641:755:26960:641:22830:-1633.32..."
2,chr2,29416366,.,G,C,21950.7,.,AB=0.481027;ABP=8.61347;AC=1;AF=0.5;AN=2;AO=86...,GT:DP:DPR:RO:QR:AO:QA:GL,"0/1:1792:1792,862:927:33345:862:30550:-2209.34..."
3,chr2,29416572,.,T,C,26063.5,.,AB=0.51049;ABP=4.92363;AC=1;AF=0.5;AN=2;AO=102...,GT:DP:DPR:RO:QR:AO:QA:GL,"0/1:2002:2002,1022:980:34960:1022:35776:-2615...."
4,chr2,29416794,.,G,A,12515.4,.,AB=0.481881;ABP=5.9219;AC=1;AF=0.5;AN=2;AO=492...,GT:DP:DPR:RO:QR:AO:QA:GL,"0/1:1021:1021,492:529:19368:492:18109:-1321.51..."

In [3]:
varscan_vcf = read_vcf('varscan_raw.vcf')
varscan_vcf.head()
#len(varscan_vcf.index)

,CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,Sample1
0,chr2,29415792,.,G,A,.,PASS,ADP=89;WT=0;HET=1;HOM=0;NC=0,GT:GQ:SDP:DP:RD:AD:FREQ:PVAL:RBQ:ABQ:RDF:RDR:A...,0/1:163:93:89:45:44:49.44%:4.4109E-17:37:18:45...
1,chr2,29416037,.,C,G,.,PASS,ADP=1305;WT=0;HET=1;HOM=0;NC=0,GT:GQ:SDP:DP:RD:AD:FREQ:PVAL:RBQ:ABQ:RDF:RDR:A...,0/1:255:1390:1305:737:568:43.52%:7.6231E-204:3...
2,chr2,29416366,.,G,C,.,PASS,ADP=1710;WT=0;HET=1;HOM=0;NC=0,GT:GQ:SDP:DP:RD:AD:FREQ:PVAL:RBQ:ABQ:RDF:RDR:A...,0/1:255:1784:1710:896:814:47.6%:4.2186E-299:36...
3,chr2,29416572,.,T,C,.,PASS,ADP=1865;WT=0;HET=1;HOM=0;NC=0,GT:GQ:SDP:DP:RD:AD:FREQ:PVAL:RBQ:ABQ:RDF:RDR:A...,0/1:255:1984:1865:952:913:48.95%:0E0:36:24:511...
4,chr2,29416794,.,G,A,.,PASS,ADP=989;WT=0;HET=1;HOM=0;NC=0,GT:GQ:SDP:DP:RD:AD:FREQ:PVAL:RBQ:ABQ:RDF:RDR:A...,0/1:255:1016:989:513:476:48.13%:2.9127E-177:37...

## Merge both VCF

In [4]:
combined_vcf = pd.merge(varscan_vcf, freebayes_vcf,  how='outer', on=['CHROM','POS', 'ID','REF', 'ALT'], indicator=True )
combined_vcf.head()

,CHROM,POS,ID,REF,ALT,QUAL_x,FILTER_x,INFO_x,FORMAT_x,Sample1,QUAL_y,FILTER_y,INFO_y,FORMAT_y,unknown,_merge
0,chr2,29415792,.,G,A,.,PASS,ADP=89;WT=0;HET=1;HOM=0;NC=0,GT:GQ:SDP:DP:RD:AD:FREQ:PVAL:RBQ:ABQ:RDF:RDR:A...,0/1:163:93:89:45:44:49.44%:4.4109E-17:37:18:45...,1101.66,.,AB=0.494737;ABP=3.03316;AC=1;AF=0.5;AN=2;AO=47...,GT:DP:DPR:RO:QR:AO:QA:GL,"0/1:95:95,47:48:1719:47:1807:-134.266,0,-126.33",both
1,chr2,29416037,.,C,G,.,PASS,ADP=1305;WT=0;HET=1;HOM=0;NC=0,GT:GQ:SDP:DP:RD:AD:FREQ:PVAL:RBQ:ABQ:RDF:RDR:A...,0/1:255:1390:1305:737:568:43.52%:7.6231E-204:3...,15878.5,.,AB=0.45884;ABP=23.567;AC=1;AF=0.5;AN=2;AO=641;...,GT:DP:DPR:RO:QR:AO:QA:GL,"0/1:1397:1397,641:755:26960:641:22830:-1633.32...",both
2,chr2,29416366,.,G,C,.,PASS,ADP=1710;WT=0;HET=1;HOM=0;NC=0,GT:GQ:SDP:DP:RD:AD:FREQ:PVAL:RBQ:ABQ:RDF:RDR:A...,0/1:255:1784:1710:896:814:47.6%:4.2186E-299:36...,21950.7,.,AB=0.481027;ABP=8.61347;AC=1;AF=0.5;AN=2;AO=86...,GT:DP:DPR:RO:QR:AO:QA:GL,"0/1:1792:1792,862:927:33345:862:30550:-2209.34...",both
3,chr2,29416572,.,T,C,.,PASS,ADP=1865;WT=0;HET=1;HOM=0;NC=0,GT:GQ:SDP:DP:RD:AD:FREQ:PVAL:RBQ:ABQ:RDF:RDR:A...,0/1:255:1984:1865:952:913:48.95%:0E0:36:24:511...,26063.5,.,AB=0.51049;ABP=4.92363;AC=1;AF=0.5;AN=2;AO=102...,GT:DP:DPR:RO:QR:AO:QA:GL,"0/1:2002:2002,1022:980:34960:1022:35776:-2615....",both
4,chr2,29416794,.,G,A,.,PASS,ADP=989;WT=0;HET=1;HOM=0;NC=0,GT:GQ:SDP:DP:RD:AD:FREQ:PVAL:RBQ:ABQ:RDF:RDR:A...,0/1:255:1016:989:513:476:48.13%:2.9127E-177:37...,12515.4,.,AB=0.481881;ABP=5.9219;AC=1;AF=0.5;AN=2;AO=492...,GT:DP:DPR:RO:QR:AO:QA:GL,"0/1:1021:1021,492:529:19368:492:18109:-1321.51...",both

In [5]:
combined_vcf['INFO'] = combined_vcf.INFO_x.map(str) + ";" + combined_vcf.INFO_y
combined_vcf.drop(['QUAL_x', 'INFO_x', 'INFO_y', 'FORMAT_x', 'FORMAT_y', 'FILTER_y', 'unknown', 'Sample1'], axis=1, inplace=True)
combined_vcf.rename(columns={'FILTER_x': 'FILTER', 'QUAL_y': 'QUAL'}, inplace=True)

In [6]:
combined_vcf.tail()

,CHROM,POS,ID,REF,ALT,FILTER,QUAL,_merge,INFO
280,chr17,37862976,.,A,C,NaN,2.56149e-14,right_only,nan;AB=0;ABP=0;AC=0;AF=0;AN=2;AO=41;CIGAR=1X;D...
281,chr17,37865777,.,A,C,NaN,1.10902e-14,right_only,nan;AB=0;ABP=0;AC=0;AF=0;AN=2;AO=124;CIGAR=1X;...
282,chr17,37883561,.,A,G,NaN,0,right_only,nan;AB=0;ABP=0;AC=0;AF=0;AN=2;AO=293;CIGAR=1X;...
283,chr19,36472204,.,CTTTT,CT,NaN,2.47156e-15,right_only,nan;AB=0;ABP=0;AC=2;AF=1;AN=2;AO=47;CIGAR=1M3D...
284,chr19,36472238,.,T,C,NaN,2.67751e-06,right_only,nan;AB=0;ABP=0;AC=2;AF=1;AN=2;AO=12;CIGAR=1X;D...

In [7]:
#combined_vcf['INFO'] = 'calledBy=Freebayes+VarScan;' + combined_vcf['INFO'].astype(str)
#combined_vcf.head()

In [8]:
combined_vcf.loc[combined_vcf['_merge'] == "both", 'callby'] = "calledBy=Freebayes+VarScan"
combined_vcf.loc[combined_vcf['_merge'] == "left_only", 'callby'] = "calledBy=Freebayes;"
combined_vcf.loc[combined_vcf['_merge'] == "right_only", 'callby'] = "calledBy=VarScan;"

In [12]:
combined_vcf.head()

,CHROM,POS,ID,REF,ALT,FILTER,QUAL,INFO
0,chr2,29415792,.,G,A,PASS,1101.66,calledBy=Freebayes+VarScan;ADP=89;WT=0;HET=1;H...
1,chr2,29416037,.,C,G,PASS,15878.5,calledBy=Freebayes+VarScan;ADP=1305;WT=0;HET=1...
2,chr2,29416366,.,G,C,PASS,21950.7,calledBy=Freebayes+VarScan;ADP=1710;WT=0;HET=1...
3,chr2,29416572,.,T,C,PASS,26063.5,calledBy=Freebayes+VarScan;ADP=1865;WT=0;HET=1...
4,chr2,29416794,.,G,A,PASS,12515.4,calledBy=Freebayes+VarScan;ADP=989;WT=0;HET=1;...

In [10]:
combined_vcf['INFO'] = combined_vcf.callby.map(str) + ";" + combined_vcf.INFO
combined_vcf.drop(['_merge', 'callby'], axis=1, inplace=True)

In [15]:
combined_vcf.head()

,CHROM,POS,ID,REF,ALT,FILTER,QUAL,INFO
0,chr2,29415792,.,G,A,PASS,1101.66,calledBy=Freebayes+VarScan;ADP=89;WT=0;HET=1;H...
1,chr2,29416037,.,C,G,PASS,15878.5,calledBy=Freebayes+VarScan;ADP=1305;WT=0;HET=1...
2,chr2,29416366,.,G,C,PASS,21950.7,calledBy=Freebayes+VarScan;ADP=1710;WT=0;HET=1...
3,chr2,29416572,.,T,C,PASS,26063.5,calledBy=Freebayes+VarScan;ADP=1865;WT=0;HET=1...
4,chr2,29416794,.,G,A,PASS,12515.4,calledBy=Freebayes+VarScan;ADP=989;WT=0;HET=1;...

In [16]:
combined_vcf.tail()

,CHROM,POS,ID,REF,ALT,FILTER,QUAL,INFO
280,chr17,37862976,.,A,C,NaN,2.56149e-14,calledBy=VarScan;nan;AB=0;ABP=0;AC=0;AF=0;AN=2...
281,chr17,37865777,.,A,C,NaN,1.10902e-14,calledBy=VarScan;nan;AB=0;ABP=0;AC=0;AF=0;AN=2...
282,chr17,37883561,.,A,G,NaN,0,calledBy=VarScan;nan;AB=0;ABP=0;AC=0;AF=0;AN=2...
283,chr19,36472204,.,CTTTT,CT,NaN,2.47156e-15,calledBy=VarScan;nan;AB=0;ABP=0;AC=2;AF=1;AN=2...
284,chr19,36472238,.,T,C,NaN,2.67751e-06,calledBy=VarScan;nan;AB=0;ABP=0;AC=2;AF=1;AN=2...